body {
  background-color: rgb(255, 208, 202);
}
header {
  background-color: salmon;
  border-bottom: 15px solid orangered;
  color: white;
}
a {
  color: white;
}
h2 {
  font-size: 120%;
  padding-top: 5%;
}
img {
  width: 95%;
  height: 450px;
  object-fit: contain;
}
.card-about {
  margin: 0 auto;
  text-align: center;
}
.card {
  background-color: rgb(255, 208, 202);
}
.card:hover {
  border: 2px solid salmon;
}
footer {
  background-color: salmon;
  border-top: 15px solid orangered;
  padding-bottom: 2%;
  padding-top: 1%;
}
.contact-info {
  list-style: none;
  display: inline;
}
.contact-info li {
  display: inline;
  padding-left: 10%;
}
